@page "/workshops"
@inject IRepository repository;
@inject SweetAlertService sweetAlertService;

<hr />
<h3>Talleres</h3>
<hr />
<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" role="button" href="/workshops/create">Nuevo Taller</a>
</div>


<GenericList MyList="workshops">
    <Body>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Taller</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workshop in workshops!)
                {
                    <tr>
                        <td>
                            @workshop.Name
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/workshops/edit/@workshop.Id">Editar</a>
                            <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(workshop))>Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>



@code {

    public List<Workshop>? workshops { get; set; }
    public string? Error { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadRecordsAsync();
    }

    private async Task LoadRecordsAsync()
    {
        var response = await repository.GetAsync<List<Workshop>>("/api/workshops");
        if (response.Error)
        {
            Error = await response.GetErrorMessageAsync();
            return;
        }
        workshops = response.Response;  

    }
    private async Task DeleteAsync(Workshop workshop)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres eliminar el taller {workshop.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/workshops/{workshop.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadRecordsAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.TopRight,
                ShowConfirmButton = false,
                Timer = 2000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Taller eliminado exitosamente.");
    }
}
