@page "/workshops/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<hr/>
<h3>Crear Taller</h3>

<WorkshopForm @ref="workshopForm" Workshop="workshop" OnValidSubmit="CreateAsync" ReturnAction="Return" />


@code {
    private Workshop workshop = new();
    private WorkshopForm? workshopForm;
    private async Task CreateAsync()
    {
        var response = await repository.PostAsync("/api/workshops", workshop);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.TopRight,
                ShowConfirmButton = false,
                Timer = 2000,
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Taller creado exitosamente");

    }

    private void Return()
    {
        workshopForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/workshops");
    }

}
