<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src='https://i.postimg.cc/HjZJJCmY/dinotrackstaticpng-borde.png' height="60" width="60" />Dino Track</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Inicio
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Inicio
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/brands">
                        <span class="oi oi-tags" aria-hidden="true"></span> Marcas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/countries">
                        <span class="oi oi-globe" aria-hidden="true"></span> Paises
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/workshops">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Talleres
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users">
                        <span class="oi oi-people" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                        <span class="oi oi-bell" aria-hidden="true"></span> Alertas
                    </NavLink>
                </Authorized>
            </AuthorizeView>
            @if (expandSubNav)
            {
                
                <AuthorizeView Roles="User">
                    <Authorized>
                        <NavLink class="nav-link" href="/notifications" style="padding-left:35px;">
                            <span class="oi oi-pulse" aria-hidden="true"></span>Alertas Programadas
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <NavLink class="nav-link" href="/notifications" style="padding-left:35px;">
                            <span class="oi oi-pulse" aria-hidden="true"></span>Enviar Alertas
                        </NavLink>
                    </Authorized>
                </AuthorizeView>
            }

        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool expandSubNav;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
