<div class="d-flex justify-content-center align-items-center">
    <img src="https://media.tenor.com/YnKbB-1kixMAAAAj/smartparcel-empty-box.gif">
</div>
<p class="text-center">... No hay nada para mostrar.</p>