@page "/brands"
@inject IRepository repository;
@inject SweetAlertService sweetAlertService;
@attribute [Authorize(Roles = "Admin")]

<div class="card">
    <div class="card-header">
        <span>
            <i class="oi oi-tag"></i> Marcas
            <a class="btn btn-sm btn-primary float-end" role="button" @onclick=@(() => ShowModalAsync())><i class="oi oi-plus"></i> Nueva Marca</a>
        </span>

    </div>
    <div class="card-body">
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <div>
                <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar marca..." @bind-value="Filter" />
            </div>
            <div class="mx-1">
                <button type="button" class="btn btn-sm btn-outline-primary" @onclick="ApplyFilterAsync"><i class="oi oi-layers" /> Filtrar</button>
                <button type="button" class="btn btn-sm btn-outline-danger" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Limpiar</button>
            </div>
        </div>

        <GenericList MyList="brands">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            RecNumber="recNumber"
                            SelectedPage="SelectedPageAsync" />
                <div style="display: flex; justify-content: flex-end; align-items: center;">
                    <span style="margin-right: 10px;">Registros por página</span>
                    <select class="form-select" style="width:80px" @onchange="BrandChangedAsync">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Marcas</th>
                            <th style="width:210px">Referencias</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var brand in brands!)
                        {
                            <tr>
                                <td><a href="/brands/details/@brand.Id">@brand.Name</a></td>
                                <td> @brand.RefsNumber </td>
                                <td>
                                    <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(brand.Id, true))><i class="oi oi-pencil" /> Editar</a>
                                    <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(brand))><i class="oi oi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {

    public List<Brand>? brands { get; set; }
    public string? Error { get; set; }
    private int currentPage = 1;
    private int totalPages;
    private int recNumber = 10;

    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadRecordsAsync();
    }

    private async Task ShowModalAsync(int id = 0, bool isEdit = false)
    {
        IModalReference modalReference;

        if (isEdit)
        {
            modalReference = Modal.Show<BrandEdit>(string.Empty, new ModalParameters().Add("Id", id));
        }
        else
        {
            modalReference = Modal.Show<BrandCreate>();
        }

        var result = await modalReference.Result;
        if (result.Confirmed)
        {
            await LoadRecordsAsync();
        }
    }

    private async Task SelectedPageAsync((int page, int recNum) parameters)
    {
        currentPage = parameters.page;
        recNumber = parameters.recNum;
        await LoadRecordsAsync(parameters.page, parameters.recNum);
    }

    private async Task BrandChangedAsync(ChangeEventArgs e)
    {

        recNumber = Convert.ToInt32(e.Value!);
        currentPage = 1;
        await LoadRecordsAsync(1, recNumber);
    }

    private async Task LoadRecordsAsync(int page = 1, int recNum = 10)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        var ok = await LoadListAsync(page, recNum);
        if (ok)
        {
            await LoadPagesAsync(recNum);
        }
    }

    private async Task LoadPagesAsync(int recNumber = 10)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/brands/totalPages?recordsNumber={recNumber}";
        }
        else
        {
            url = $"api/brands/totalPages?recordsNumber={recNumber}&filter={Filter}";
        }

        var response = await repository.GetAsync<int>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        totalPages = response.Response;
    }

    private async Task<bool> LoadListAsync(int page, int recNumber)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/brands?page={page}&recordsNumber={recNumber}";
        }
        else
        {
            url = $"api/brands?page={page}&recordsNumber={recNumber}&filter={Filter}";
        }

        var response = await repository.GetAsync<List<Brand>>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }
        brands = response.Response;
        return true;
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadRecordsAsync(page, recNumber);
        await SelectedPageAsync((page, recNumber));
    }

    private async Task DeleteAsync(Brand brand)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres eliminar la marca {brand.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/brands/{brand.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadRecordsAsync(currentPage, recNumber);
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.TopRight,
                ShowConfirmButton = false,
                Timer = 2000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Marca eliminada exitosamente.");
    }
}
