@page "/brands/details/{BrandId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

@if (brand is null)
{
    <Loading />
}
else
{
    <h3>@brand.Name</h3>
    
    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
        <div class="mx-2">
            <a class="btn btn-primary" href="/refs/create/@brand.Id">Nueva Referencia</a>
            <a class="btn btn-success" href="/brands">Regresar</a>
        </div>        
        <div class="mx-2">
            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar ref..." @bind-value="Filter" />
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync">Filtrar</button>
            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
        </div>
    </div>

    <h4>Marcas</h4>
    <GenericList MyList="brand!.Refs!.ToList()">
        <Body>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        RecNumber="recNumber"
                        SelectedPage="SelectedPageAsync" />
            <div style="display: flex; justify-content: flex-end; align-items: center;">
                <span style="margin-right: 10px;">Registros por página</span>
                <select class="form-select" style="width:80px" @onchange="RefChangedAsync">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:210px">Referencia</th>
                        <th style="width:140px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var refe in refs!)
                    {
                        <tr>
                            <td>
                                @refe.Name
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/refs/edit/@refe.Id">Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(refe))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}

@code {
    private Brand? brand;
    private List<Ref>? refs;
    private int currentPage = 1;
    private int totalPages;
    private int recNumber = 10;

    [Parameter]
    public int BrandId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;



    protected override async Task OnInitializedAsync()
    {
        await LoadRecordsAsync();
    }

    private async Task SelectedPageAsync((int page, int recNum) parameters)
    {
        currentPage = parameters.page;
        recNumber = parameters.recNum;
        await LoadRecordsAsync(parameters.page, parameters.recNum);
    }

    private async Task RefChangedAsync(ChangeEventArgs e)
    {
        recNumber = Convert.ToInt32(e.Value!);
        currentPage = 1;
        await LoadRecordsAsync(1, recNumber);
    }

    private async Task LoadRecordsAsync(int page = 1, int recNumber = 10)
    {
        if(!string.IsNullOrEmpty(Page))
        {
            page = Convert.ToInt32(Page);
        }

        var ok = await LoadBrandAsync();
        if (ok)
        {
            ok = await LoadRefsAsync(page, recNumber);
            if (ok)
            {
                await LoadPagesAsync(recNumber);
            }
        }
    }

    private async Task LoadPagesAsync(int recNumber = 10)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/refs/totalPages?id={BrandId}&recordsNumber={recNumber}";
        }
        else
        {
            url = $"api/refs/totalPages?id={BrandId}&recordsNumber={recNumber}&filter={Filter}";
        }
        var response = await repository.GetAsync<int>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        totalPages = response.Response;
    }

    private async Task<bool> LoadRefsAsync(int page, int recNumber)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/refs?id={BrandId}&page={page}&recordsNumber={recNumber}";
        }
        else
        {
            url = $"api/refs?id={BrandId}&page={page}&recordsNumber={recNumber}&filter={Filter}";
        }

        var response = await repository.GetAsync<List<Ref>>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }
        refs = response.Response;
        return true;
    }

    private async Task<bool> LoadBrandAsync()
    {
        var response = await repository.GetAsync<Brand>($"/api/brands/{BrandId}");
        if (response.Error)
        {
            if (response.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/brands");
                return false;
            }

            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }
        brand = response.Response;
        return true;
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadRecordsAsync(page, recNumber);
        await SelectedPageAsync((page, recNumber));
    }

    private async Task DeleteAsync(Ref refe)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Realmente deseas eliminar la marca {refe.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync($"/api/refs/{refe.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadRecordsAsync(currentPage, recNumber);
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.TopRight,
                ShowConfirmButton = false,
                Timer = 2000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}