@page "/"

<PageTitle>DinoTrack</PageTitle>

<h1 class="display-1 text-center" >Hello, Dino!</h1>
<hr/>
<br/>
Bienvenido a nuestra App de alertas para mantenimientos preventivos! 

<SurveyPrompt Title="How is Blazor working for you?" />
