@page "/"

<PageTitle>DinoTrack</PageTitle>

<h1 class="display-1 text-center" >Hello, Dino!</h1>
<hr/>
Bienvenido a nuestra App de alertas para mantenimientos preventivos! 
<hr/>
<div>
    <p style="text-align:center;"><img src='https://i.postimg.cc/wx7WyX71/Dinotrack.gif' height="300" width="300" border='0' alt='Dinotrack' /></p>
</div>
<SurveyPrompt Title="How is Blazor working for you?" />
