@page "/countries"
@inject IRepository repository;
@inject SweetAlertService sweetAlertService;
@attribute [Authorize(Roles = "Admin")]

<div class="card">
    <div class="card-header">
        <span>
            <i class="oi oi-globe"></i> Países
            <a class="btn btn-sm btn-primary float-end" href="/countries/create"><i class="oi oi-plus"></i> Adicionar País</a>
        </span>
    </div>
    <div class="card-body">
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <div>
                <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar país..." @bind-value="Filter" />
            </div>
            <div class="mx-1">
                <button type="button" class="btn btn-sm btn-outline-primary" @onclick="ApplyFilterAsync"><i class="oi oi-layers" /> Filtrar</button>
                <button type="button" class="btn btn-sm btn-outline-danger" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Limpiar</button>
            </div>
        </div>



        <GenericList MyList="countries">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            RecNumber="recNumber"
                            SelectedPage="SelectedPageAsync" />
                <div style="display: flex; justify-content: flex-end; align-items: center;">
                    <span style="margin-right: 10px;">Registros por página</span>
                    <select class="form-select" style="width:80px" @onchange="CountryChangedAsync">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>País</th>
                            <th style="width:210px">Estados</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in countries!)
                        {
                            <tr>
                                <td><a href="/countries/details/@country.Id">@country.Name</a></td>
                                <td> @country.StatesNumber</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" href="/countries/edit/@country.Id"><i class="oi oi-pencil" /> Editar</a>
                                    <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(country))><i class="oi oi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>



@code {

    public List<Country>? countries { get; set; }
    public string? Error { get; set; }
    private int currentPage = 1;
    private int totalPages;
    private int recNumber = 10;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadRecordsAsync();
    }

    private async Task SelectedPageAsync((int page, int recNum) parameters)
    {
        currentPage = parameters.page;
        recNumber = parameters.recNum;
        await LoadRecordsAsync(parameters.page, parameters.recNum);
    }

    private async Task CountryChangedAsync(ChangeEventArgs e)
    {
        recNumber = Convert.ToInt32(e.Value!);
        currentPage = 1;
        await LoadRecordsAsync(1, recNumber);
    }

    private async Task LoadRecordsAsync(int page = 1, int recNum = 10)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        var ok = await LoadListAsync(page, recNum);
        if (ok)
        {
            await LoadPagesAsync(recNum);
        }
    }

    private async Task LoadPagesAsync(int recNumber = 10)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/countries/totalPages?recordsNumber={recNumber}";
        }
        else
        {
            url = $"api/countries/totalPages?filter={Filter}&recordsNumber={recNumber}";
        }

        var response = await repository.GetAsync<int>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        totalPages = response.Response;
    }


    private async Task<bool> LoadListAsync(int page, int recNumber)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/countries?page={page}&recordsNumber={recNumber}";
        }
        else
        {
            url = $"api/countries?page={page}&filter={Filter}&recordsNumber={recNumber}";
        }

        var response = await repository.GetAsync<List<Country>>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }
        countries = response.Response;
        return true;
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadRecordsAsync(page, recNumber);
        await SelectedPageAsync((page, recNumber));
    }

    private async Task DeleteAsync(Country country)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres eliminar al país {country.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/countries/{country.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadRecordsAsync(currentPage, recNumber);
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.TopRight,
                ShowConfirmButton = false,
                Timer = 2000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "País eliminado exitosamente.");
    }
}
